@tailwind base;
@tailwind components;
@tailwind utilities;


body {
  background: linear-gradient(45deg, #3498db, #702ecc, #12cef3, #3c89e7, #db34ba);
  background-size: 400% 400%;
  animation: gradientAnimation 50s ease infinite;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
